<section>
  <h1> == DEFAULT THEME == </h1>
  <app-themed-text>No palette attribute, defaults to primary</app-themed-text>
  <app-themed-text palette="accent">Accent palette</app-themed-text>
  <app-themed-text palette="warn">Warn palette</app-themed-text>
  <app-themed-text palette="foo">Foo palette is not supported ;)</app-themed-text>
</section>

<section class="unicorn-dark-theme">
  <h1> == DARK THEME == </h1>
  <app-themed-text>No palette attribute, defaults to primary</app-themed-text>
  <app-themed-text palette="accent">Accent palette</app-themed-text>
  <app-themed-text palette="warn">Warn palette</app-themed-text>
  <app-themed-text palette="foo">Foo palette is not supported ;)</app-themed-text>
</section>
