@mixin themed-text-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  app-themed-text.primary {
    color: map-get($primary, default);
  }

  app-themed-text.accent {
    color: map-get($accent, default);
  }

  app-themed-text.warn {
    color: map-get($warn, default);
  }
}
